@keyframes rotateinf {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes changebg {
  0%   {background-color: #1E1E1E;}
  25%  {background-color: #FFC107;}
  50%  {background-color: #315ab0;}
  100% {background-color: #ff075d;}
}

@font-face {
  font-family: 'CarlaReg';
  src: url(../webfont/carlasansregular-webfont.woff);
}

@font-face {
  font-family: 'butler';
  src: url(../webfont/Butler.woff);
}


#header {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: CarlaReg ;
  color: #1E1E1E;
}


.bg-body {
  background-color: #FEFCF5 !important;
}

body {
  font-family: 'nunito sans';
  overflow-x: hidden !important;
}

body {
  overflow: hidden;
}

.btn-red {
  background-color: #A95951 !important;
  border: none !important;
  color: #fff !important;
}

.btn-red:hover {
  background-color: #141414 !important;
  border: none !important;
  color: #fff !important;
}



@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&family=Nunito+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');


.text-slide {
  padding: 35px;
  bottom: 0;
}
.text-slide p {
  font-family: 'Nunito Sans';
  letter-spacing: 5px;
  color: #fff;
  text-align: right;
}


.text-wide {
letter-spacing: 5px;
}

.merito-title-one h2 {
  font-size: 22px;
  font-weight: 400;
  color: #1E1E1E;
}

.mr-main-name h3 {
  font-size: 15px;
  font-style: normal;
  color: #1E1E1E;
}


.mr-main-name h2 {
font-family: 'CarlaReg';
color: #1E1E1E;
font-size: 35px;
letter-spacing: 5px;
}


.mr-date-text, .countdown, .hastag {
color: #1E1E1E;
}

.title-date {
  font-family: "vagentha";
}

.title-event {
  font-weight: 300;
}

.icon-and {
  width: 50px;;
}

/*----------countdown timer----------*/
.countdown-date li {
  font-family: 'CarlaReg';
  display: inline-block;
  font-size: 8px;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countdown-date li span {
  display: block;
  font-size: 20px;
}

/*------------start margin set-----------*/

.pd-0 {
	padding: 0 !important;
}
.mt--90 {
  margin-top: -90px;
}

.mt--100 {
  margin-top: -80px;
}

.mt--130 {
  margin-top: -130px;
}

.mt--140 {
  margin-top: -140px;
}

.mt--200 {
  margin-top: -200px;
}

/*  margin Top */
.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mt-120 {
  margin-top: 120px !important;
}

/* Margin Bottom */
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mb-120 {
  margin-bottom: 120px !important;
}

.mt--100 {
  margin-top: -100px;
}

/* Margin Right */
.mr-0 {
  margin-right: 0 !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

/* Margin Left */
.ml-0 {
  margin-left: 0 !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

/* padding Top */
.pb-10 {
  padding-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pt-110 {
  padding-top: 110px !important;
}

.pt-120 {
  padding-top: 120px !important;
}

.pt-130 {
  padding-top: 130px !important;
}

.pt-140 {
  padding-top: 140px !important;
}

.pt-150 {
  padding-top: 150px !important;
}

.pt-170 {
  padding-top: 170px !important;
}

.pt-200 {
  padding-top: 200px !important;
}

/*  Padding Bottom */
.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pb-110 {
  padding-bottom: 110px !important;
}

.pb-120 {
  padding-bottom: 120px !important;
}

.pb-130 {
  padding-bottom: 130px !important;
}

.pb-140 {
  padding-bottom: 140px !important;
}

.pb-150 {
  padding-bottom: 150px !important;
}

.pb-170 {
  padding-bottom: 170px !important;
}

/* padding Right */
.pr-0 {
  padding-right: 0 !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.pr-70 {
  padding-right: 70px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

/* padding Left */
.pl-0 {
  padding-left: 0 !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.pl-70 {
  padding-left: 70px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

@media (max-width: 1200px) {
  .inner-padding {
    padding: 30px !important;
  }
}

/* Medium Devices */
@media (min-width: 768px) and (max-width: 991px) {
 
  .mt-30 {
    margin-top: 30.76923px !important;
  }
  .mt-40 {
    margin-top: 28.57143px !important;
  }
  .mt-50 {
    margin-top: 35.71429px !important;
  }
  .mt-60 {
    margin-top: 42.85714px !important;
  }
  .mt-70 {
    margin-top: 50px !important;
  }
  .mt-80 {
    margin-top: 57.14286px !important;
  }
  .mt-90 {
    margin-top: 64.28571px !important;
  }
  .mt-100 {
    margin-top: 71.42857px !important;
  }
  .mb-30 {
    margin-bottom: 23.07692px !important;
  }
  .mb-40 {
    margin-bottom: 28.57143px !important;
  }
  .mb-50 {
    margin-bottom: 35.71429px !important;
  }
  .mb-60 {
    margin-bottom: 42.85714px !important;
  }
  .mb-70 {
    margin-bottom: 50px !important;
  }
  .mb-80 {
    margin-bottom: 57.14286px !important;
  }
  .mb-90 {
    margin-bottom: 64.28571px !important;
  }
  .mb-100 {
    margin-bottom: 71.42857px !important;
  }
  /* Margin Right */
  .mr-30 {
    margin-right: 23.07692px !important;
  }
  .mr-40 {
    margin-right: 28.57143px !important;
  }
  .mr-50 {
    margin-right: 35.71429px !important;
  }
  /* Margin Left */
  .ml-30 {
    margin-left: 27.27273px !important;
  }
  .ml-40 {
    margin-left: 33.33333px !important;
  }
  .ml-50 {
    margin-left: 35.71429px !important;
  }
  /* padding Top */
  .pt-30 {
    padding-top: 23.07692px !important;
  }
  .pt-40 {
    padding-top: 28.57143px !important;
  }
  .pt-50 {
    padding-top: 35.71429px !important;
  }
  .pt-60 {
    padding-top: 42.85714px !important;
  }
  .pt-70 {
    padding-top: 50px !important;
  }
  .pt-80 {
    padding-top: 57.14286px !important;
  }
  .pt-90 {
    padding-top: 64.28571px !important;
  }
  .pt-100 {
    padding-top: 71.42857px !important;
  }
  .pt-110 {
    padding-top: 78.57143px !important;
  }
  .pt-120 {
    padding-top: 85.71429px !important;
  }
  .pt-130 {
    padding-top: 93.33333px !important;
  }
  .pt-140 {
    padding-top: 87.5px !important;
  }
  .pt-150 {
    padding-top: 88.23529px !important;
  }
  .pt-160 {
    padding-top: 88.88889px !important;
  }
  .pt-170 {
    padding-top: 89.47368px !important;
  }
  /*  Padding Bottom */
  .pb-30 {
    padding-bottom: 23.07692px !important;
  }
  .pb-40 {
    padding-bottom: 28.57143px !important;
  }
  .pb-50 {
    padding-bottom: 35.71429px !important;
  }
  .pb-60 {
    padding-bottom: 42.85714px !important;
  }
  .pb-70 {
    padding-bottom: 50px !important;
  }
  .pb-80 {
    padding-bottom: 57.14286px !important;
  }
  .pb-90 {
    padding-bottom: 64.28571px !important;
  }
  .pb-100 {
    padding-bottom: 71.42857px !important;
  }
  .pb-110 {
    padding-bottom: 78.57143px !important;
  }
  .pb-120 {
    padding-bottom: 85.71429px !important;
  }
  .pb-130 {
    padding-bottom: 86.66667px !important;
  }
  .pb-140 {
    padding-bottom: 87.5px !important;
  }
  .pb-150 {
    padding-bottom: 88.23529px !important;
  }
  .pb-160 {
    padding-bottom: 88.88889px !important;
  }
  .pb-170 {
    padding-bottom: 89.47368px !important;
  }
}

/* Mobile Phones and tablets */
@media (min-width: 320px) and (max-width: 767px) {
 
  .inner-padding {
    padding: 20px !important;
  }
  .text-center-xs-sm {
    text-align: center !important;
  }
  .mt-30 {
    margin-top: 23.07692px !important;
  }
  .mt-40 {
    margin-top: 28.57143px !important;
  }
  .mt-50 {
    margin-top: 33.33333px !important;
  }
  .mt-60 {
    margin-top: 33.33333px !important;
  }
  .mt-70 {
    margin-top: 35px !important;
  }
  .mt-80 {
    margin-top: 40px !important;
  }
  .mt-90 {
    margin-top: 45px !important;
  }
  .mt-100 {
    margin-top: 50px !important;
  }
  .mb-30 {
    margin-bottom: 23.07692px !important;
  }
  .mb-40 {
    margin-bottom: 28.57143px !important;
  }
  .mb-50 {
    margin-bottom: 33.33333px !important;
  }
  .mb-60 {
    margin-bottom: 33.33333px !important;
  }
  .mb-70 {
    margin-bottom: 35px !important;
  }
  .mb-80 {
    margin-bottom: 40px !important;
  }
  .mb-90 {
    margin-bottom: 45px !important;
  }
  .mb-100 {
    margin-bottom: 50px !important;
  }
  /* Margin Right */
  .mr-30 {
    margin-right: 25px !important;
  }
  .mr-40 {
    margin-right: 30.76923px !important;
  }
  .mr-50 {
    margin-right: 33.33333px !important;
  }
  /* Margin Left */
  .ml-30 {
    margin-left: 25px !important;
  }
  .ml-40 {
    margin-left: 30.76923px !important;
  }
  .ml-50 {
    margin-left: 33.33333px !important;
  }
  /* padding Top */
  .pt-30 {
    padding-top: 23.07692px !important;
  }
  .pt-40 {
    padding-top: 28.57143px !important;
  }
  .pt-50 {
    padding-top: 33.33333px !important;
  }
  .pt-60 {
    padding-top: 33.33333px !important;
  }
  .pt-70 {
    padding-top: 35px !important;
  }
  .pt-80 {
    padding-top: 40px !important;
  }
  .pt-90 {
    padding-top: 45px !important;
  }
  .pt-100 {
    padding-top: 50px !important;
  }
  .pt-110 {
    padding-top: 55px !important;
  }
  .pt-120 {
    padding-top: 60px !important;
  }
  .pt-130 {
    padding-top: 66.66667px !important;
  }
  .pt-140 {
    padding-top: 63.63636px !important;
  }
  .pt-150 {
    padding-top: 65.21739px !important;
  }
  .pt-160 {
    padding-top: 66.66667px !important;
  }
  .pt-170 {
    padding-top: 68px !important;
  }
  /*  Padding Bottom */
  .pb-30 {
    padding-bottom: 23.07692px !important;
  }
  .pb-40 {
    padding-bottom: 28.57143px !important;
  }
  .pb-50 {
    padding-bottom: 33.33333px !important;
  }
  .pb-60 {
    padding-bottom: 33.33333px !important;
  }
  .pb-70 {
    padding-bottom: 35px !important;
  }
  .pb-80 {
    padding-bottom: 40px !important;
  }
  .pb-90 {
    padding-bottom: 45px !important;
  }
  .pb-100 {
    padding-bottom: 50px !important;
  }
  .pb-110 {
    padding-bottom: 55px !important;
  }
  .pb-120 {
    padding-bottom: 60px !important;
  }
  .pb-130 {
    padding-bottom: 61.90476px !important;
  }
  .pb-140 {
    padding-bottom: 63.63636px !important;
  }
  .pb-150 {
    padding-bottom: 65.21739px !important;
  }
  .pb-160 {
    padding-bottom: 66.66667px !important;
  }
  .pb-170 {
    padding-bottom: 68px !important;
  }
}

.pd-0 {
	padding: 0 !important;
}

/*------------end margin set-----------*/

.mr-moment .mr-gallery-wrap img {
  object-fit: cover;
}

.name-wish {
  font-size: 20px;
  margin-bottom: 0;
}

.icon-wish {
  padding-right: 15px;
}

.box-wish {
  margin-top: 25px;
}

.bg-wish {
  margin: 100px 0;
  border-radius: 25px;
  padding: 30px;
  background-color: rgb(133, 133, 133, 25%);
}

.hastag {
  font-family:'butler' ;
  font-size: 30px;
  color:#fff;
}

.mr-ig-filter {
  padding: 100px 0;
}
/*----------background--------*/
.bg-slide-1 {
  background-image: url(../img/cover-bg.jpg);
  background-repeat:no-repeat;
  background-position: 45%;
  background-size: cover;
}

.bg-section-1 {
background-image: url(../img/bg-section-1.jpg);
background-repeat:no-repeat;
background-position: right;
background-size: cover;
}

.bg-section-2 {
  background-image: url(../img/bg-section-2.jpg);
  background-repeat:no-repeat;
  background-position: 25%;
  }

.bg-section-3 {
  background-image: url(../img/bg-section-3.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}

.bg-section-4 {
  background-image: url(../img/bg-section-3.jpg);
  background-repeat:no-repeat;
}

/*---- Cover video -----*/

.video-area-content {
    z-index: 3;
    flex-flow: row wrap;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* background-color: rgba(241,241,241,0.7); */
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.video-area-content-logo {
  position: absolute;
  width: 500px;
}

.video-area-content-logo img {
  width: 100%
}

.video-area-overlay {
    background-color: rgb(25 29 37 / 81%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
}


.video-area {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}


.video-area-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/banner-landscape.jpg");
}

.video-area-img:before {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 1;
    opacity: 0.6;
    -webkit-animation: changebg 20s ease-in infinite;
    animation: changebg 20s ease-in infinite;
    transition: all 20s ease-in-out;
    padding: 20px 20px;
}

.video-area-arrow {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    z-index: 3;
    left: 0;
    color: #ffff;
}

.video-area-arrow a {
	color: #ffff;
}

.video-area-vid video[poster] {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 1024px) {
.video-area-arrow {
    position: absolute;
    bottom: -20px;
   
  }
}

@media (min-width: 1200px) {

.video-area-vid video {
    min-width: 100vw;
    min-height: 100vh;
}

.video-area-vid video {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    top: 0;
}

}

.text-area-rotation {
	 width: 100%;
    height: 100%;
    padding: 20px;
}

.text-rotation {
	width: 500px;
    position: relative;
}


.text-area-rotation img {
    width: 100%;
    animation: rotateinf 240s linear infinite !important;
    -webkit-animation: rotateinf 240s linear infinite;
    transition: all 240s linear;
}

.text-rotation:before {
    content: "";
    position: absolute;
    width: 180%;
    height: 400%;
    border-radius: 100vw;
    border: 1px solid #ebebeb;
    top: 0%;
    left: 0%;
    opacity: 0.3;
}

.text-rotation:after {
	content: "";
    position: absolute;
    width: 180%;
    height: 400%;
    border-radius: 100vw;
    border: 1px solid #ebebeb;
    top: -300%;
    left: -80%;
    opacity: 0.3;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.merito-hero-video {
	/*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.mr-profile {
  width: 400px;
  height: 650px;
  border-radius: 50px;
  }
.mr-main-name {
  text-align: left;
  padding: 25px;
}


.mr-date-text {
  font-size: 50px;
}


.box-event {

    max-width: 450px;
    border-radius: 20px;
    /*background-color: #1E1E1E;*/
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    padding: 50px;
    border: 5px solid #1E1E1E;
    position: relative;
    text-align: center;
}

.event-bg-img {
  background-image: url('../img/illustration-church.png');
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0%;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
}

.title-event {
  font-size: 45px;
  color: #ffff;
}

.mr-button-one {
  position: relative;
  z-index: 2;
}

.event-detail .btn-wish {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  color: #1E1E1E;
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  background-color: #fff;
  border: 1px solid #1E1E1E;
  z-index: 2 !important;
}

.btn-wish {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  color: #1E1E1E;
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  background-color: #fff;
  border: 1px solid #1E1E1E;
  z-index: 2 !important;
}


.text-event {
  color: #9E9D9D
}



.text-event-bold {
  padding-top: 25px;
  font-size: 16px;
  letter-spacing: 5px;
  font-weight: 600;
  color: #1E1E1E;
}




.title-holly:after {
  content: "";
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 125px;
    height: 125px;
    background-image: url(../img/flower-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
}


.event-detail .btn-wish:hover {
  background: #1E1E1E;
  color: #fff;
}

.mr-button .btn-wish {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  color: #fff;
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.3s;
   background-color: #A95951;
  /* border: 1px solid #1E1E1E; */
  z-index: 2 !important;
}

.mr-button .btn-wish:hover {
  background: #fff;
  color: #1E1E1E;
}

/*--------------------------------------------------------------
# Merito Gallery
--------------------------------------------------------------*/
.mr-gallery .mr-slider .swiper-slide img {
  /*opacity: 0.5;*/
  transition: 0.3s;
  width: 450px;
}

.mr-gallery .mr-slider .swiper-slide img:hover {
  opacity: 1;
}

.mr-gallery .mr-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.mr-gallery .mrs-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #1E1E1E;
}

.mr-gallery .mr-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1E1E1E;
}


.mr-gallery-img {
width: 340px;
}


.mr-paralax {
  background-image: url(../img/img-footer.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(0);
  z-index: -1;
  height: 100vh;
}

.paralax-overlay {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1E1E1E;
      opacity:  0.5;
      z-index: -1;
}


.mr-text-paralax {
padding-bottom: 100px;
z-index: 5;
color: #fff;

}

.mr-text-paralax h1 {
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
}


.mr-footer {
  padding: 50px 0;
  background: #1E1E1E;
}

.mr-footer p {
  color: #fff;
}

.logo-footer img {
  max-width: 200px;
}

.mr-footer .social-links a {
  color: #fff;
  padding: 5px;
}


.mr-img-filter img {
  max-width: 200px
}


.sakura-2 {
  background-image: url(../img/sakura_kanan.png), url(../img/sakura_kiri.png);
  background-position: right top, left top;
  background-repeat: no-repeat;
  background-size: 400px, 800px;
}

/* .mr-couple-sakura:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -700px;
  width: 525px;
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  pointer-events: none;
  background-image: url(../img/sakura_kiri.png);

}

.mr-couple-sakura:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -710px;
  width: 550px;
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url(../img/sakura_kanan.png);
  opacity: 1;
} */


.title-2 {
font-family: 'Nunito Sans';
font-style: italic;
}
/*--------------------------------------------------------------
# mr-wishes
--------------------------------------------------------------*/
.mr-wishes .wishes-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  box-shadow: 0px 0 10px rgba(1, 41, 112, 0.1);
  background: #f9f9f9;
  height: 250px;
 /* max-width: 500px;*/
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

.mr-wishes .wishes-item:after {
  content: "";
    position: absolute;
    bottom: 12px;
    right: 8px;
    width: 75px;
    height: 75px;
    background-image: url(../img/flower-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
}



.mr-wishes {
   width: 100%;
    align-self: flex-end;
    padding: 50px 5% 50px 5%;
    background-color: #e4e1d1;
    background-image: url(../img/bg-wish.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.mr-wishes .wishes-item .stars {
  margin-bottom: 15px;
}

.mr-wishes .wishes-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.mr-wishes .wishes-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.mr-wishes .wishes-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #1E1E1E;
}

.mr-wishes .wishes-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.mr-wishes .wishes-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.mr-wishes .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.mr-wishes .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #1E1E1E;
}

.mr-wishes .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1E1E1E;
}

.box-wishes {
padding-bottom: 30px;
}

/*.mr-wishes .swiper-slide {
  opacity: 0.3;
}
*/
@media (max-width: 1199px) {
  .mr-wishes .swiper-slide-active {
    opacity: 1;
  }

  .mr-wishes .swiper-pagination {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .mr-wishes .swiper-slide-next {
    opacity: 1;
  }
}


/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.mr-moment #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}

.mr-moment #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 10px 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: #444444;
  margin: 0 4px 8px 4px;
  transition: 0.3s;
  border-radius: 50px;
  border: 1px solid #fff;
}

.mr-moment #portfolio-flters li:hover,
.mr-moment #portfolio-flters li.filter-active {
  color: #1E1E1E;
  border-color: #1E1E1E;
}

.mr-moment #portfolio-flters li:last-child {
  margin-right: 0;
}

.mr-moment .mr-gallery-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(255, 255, 255, 0.75);
}

/*.mr-gallery .mr-gallery-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}*/

.mr-moment .mr-gallery-wrap img {
  transition: 1s;
}

.mr-moment .mr-gallery-wrap .mr-gallery-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mr-moment .mr-gallery-wrap .mr-gallery-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgba(1, 41, 112, 0.2);
  border-left: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.mr-moment .mr-gallery-wrap .mr-gallery-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid rgba(1, 41, 112, 0.2);
  border-right: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.mr-moment .mr-gallery-wrap .mr-gallery-info h4 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
}

.mr-moment .mr-gallery-wrap .mr-gallery-info p {
  color: #012970;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.mr-moment .mr-gallery-wrap .mr-gallery-links {
  text-align: center;
  z-index: 4;
}

.mr-moment .mr-gallery-wrap .mr-gallery-links a {
  color: #fff;
  background: #1E1E1E;
  margin: 10px 2px;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
 /* border-radius: 50%;*/
  transition: 0.3s;
}

.mr-moment .mr-gallery-wrap .mr-gallery-links a i {
  font-size: 24px;
  line-height: 0;
}

.mr-moment .mr-gallery-wrap .mr-gallery-links a:hover {
  background: #5969f3;
}

.mr-moment .mr-gallery-wrap:hover img {
  transform: scale(1.1);
}

.mr-moment .mr-gallery-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.mr-moment .mr-gallery-wrap:hover .mr-gallery-info {
  opacity: 1;
}

.mr-moment .mr-gallery-wrap:hover .mr-gallery-info::before {
  top: 15px;
  left: 15px;
}

.mr-moment .mr-gallery-wrap:hover .mr-gallery-info::after {
  bottom: 15px;
  right: 15px;
}

/* Mobile Phones and tablets */
@media (min-width: 320px) and (max-width: 767px) {

.mr-main-name h2 {
  font-size: 30px;
}

.mr-main-name h3 {
  font-size: 12px;
}

.mr-profile {
  height: 300px;
  background-position: center;
}

.box-event {
   margin-bottom: 20px;
    border-radius: 25vw;

  }

  .video-area-content-logo img {
    height: auto;
    width: 100%;
  }

   .video-area-content-logo {
    width: 90%;
   }

#open-invitation {
    font-size: 16px;
  }


.image-container {
  height: 100%; /* Ganti dengan tinggi yang diinginkan */
  overflow: hidden;
}

}


/*------ Popup ----*/

.contact {
background-color: #D9D9D9;
padding: 35px;
border-radius: 50px;
}

.contact .php-email-form button[type=submit] {
  background: #0B1C3F;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}


.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: transparent;
  /* background-clip: padding-box; */
  border: var(--bs-border-width) solid transparent;
  /* -webkit-appearance: none; */
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-bottom: transparent;
  background-color:transparent;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-bottom: 1px solid #1E1E1E;
}

input:-internal-autofill-selected { 
  background-color: transparent !important;
}


.btn-float-one {
  left:30%;
    position: fixed;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 50;
    width: 15%;
    background-color: #232935;
    color: white;
    font-size: 18px;
    padding: 8px 10px;
    text-align: center;
    display: block;
    cursor: pointer;
    bottom: 10px;
    font-family: 'Scheherazade New';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.btn-float-two {
  right: 30%;
  position: fixed;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 50;
    width: 15%;
    background-color: #232935;
    color: white;
    font-size: 18px;
    padding: 8px 10px;
    text-align: center;
    display: block;
    cursor: pointer;
    bottom: 10px;
    font-family: 'Scheherazade New';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}



.btn-float-single {
  font-family: 'Nunito Sans';
  position: fixed;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    left: 50%;
    z-index: 10;
    width: 50%;
    background-color: #1E1E1E;
    color: white;
    font-size: 18px;
    padding: 8px 10px;
    text-align: center;
    display: block;
    border-radius: 20px;
    cursor: pointer;
    bottom: 10px;
}

.btn-float-single {
  width: 300px;
}

.btn-bottom {
  display: none;
}

.btn-bottom.show {
  display: block;
}


#popupOverlay, #popupOverlay-rsvp  {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191d25bd;
  z-index: 9999;
}


#popupContent {
  position: absolute;
  top: 50%;
   left: 50%;
   width: 30%;
  transform: translate(-50%, -50%);
 /* background-color: #fff;*/
  padding: 20px;
}

#closePopup, #closePopup-rsvp  {
  position: absolute;
  top: 31px;
  background-color: transparent;
  border:none;
  color: #ffffff;
  font-size: 20px;
  font-family: "Geologica";
  font-weight: 600;
  right: 35px;
  background-color: #0B1C3F;
  width: 35px;
  height:35px;
  border-radius: 50px;
}


/* Mobile Phones and tablets */
@media (min-width: 320px) and (max-width: 767px) {

  #popupContent {width: 90%
  }

  .mr-gallery .mr-slider .swiper-slide img {
    /*opacity: 0.5;*/
    transition: 0.3s;
    width: 155px;
  }
}

/*------ Form Contact----*/
.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form {
  background: rgb(133, 132, 152, 20%);
  padding: 20px;
  height: 100%;
  border-radius: 50px;
}

.form-control {
  height: 35px;
  border-radius: 0;
  font-size: 14px;
}

/* .form-size {
  padding-bottom: 10px;
} */

.form-size label {
  font-size: 14px;
}

.form-size textarea {
  min-height: 100px;
}

.title-popup p {
  font-size: 14px;
}

/* .start-center {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.start-wraper-2 {
    background-image: url("../img/bg-paralax.png");
    height: 100%;
    width: 100%;
    order: 2;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11111100;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    overflow: auto;
}

.start-wraper {
  background-image: url("../img/cover-bg.jpg");
  /* background-position: 45%; */
  height: 100vh;
  /* width: 100%; */
  order: 2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 11111100;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: auto;
}


.containeritems-center {
text-align: center;
}



/* .start-page .start-btn
{
    z-index: 2;
    padding: 0;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
   
} */

.start-page .start-btn a
{
   
    color: #fff;
  }


.start-page .logogram
{
  padding-top: 50px;
  text-align: center;
  z-index: 2;
  width: 100%;
}

.logogram img {
  max-width: 100%;
}


.groom {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 10%;
    justify-content: flex-end;
}


.groom-2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 10%;
    justify-content: flex-start;
    
}

.title-letter {
  position: absolute;
  z-index: -1;
  left: 20%;
}

.mr-letter {
  margin-top: 50px;
    padding: 0px 15% 0 15%;
    display: flex;
}

.letter {
  padding-left: 50px;
}


.letter h1 {
  font-size: 20px;
}


.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  color: #1E1E1E;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  color: #1E1E1E;
}

.slide-one {
  width: 100%;
  height: 100vh;
}

/*------------pic------------*/
.mr-groom-image {
    width: 30%;
    height: 35vw;
    position: relative;
    z-index: 2;
}

.mr-groom-image .mr-box {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    z-index: 2;
}

.mr-groom {
background-color: rgb(133, 133, 133, 20%);
padding: 35px 35px 5px 35px;
margin-bottom: 35px;
}

.mr-oh {
    overflow: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: relative;
}

.mr-groom-image-wrap {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.slide-one img {
  width: 100%;
}

.margin-100 {
  margin-top: -100px;
}

.text-slide {
position: absolute;
}


.btn-ov {
  font-family: 'nunito sans';
  white-space: nowrap;
  border-radius: 1.5rem;
  background-color: rgb(133, 133, 133, 20%);
  --tw-bg-opacity: 0.6;
  padding: 15px 30px;
  font-family: "DM Sans";
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.btn-ov:hover {
  background-color: #1E1E1E;
  color: #fff;
  cursor: pointer;
}



#open-invitation {
  cursor: default;
  font-family: "nunito sans", sans-serif;
  font-size: 20px;
}


.log-name {
  margin-top:100px;
  margin-bottom:50px;
}

.top-logo {
  padding-top: 0;
  padding-bottom: 0;
}

@media all and (max-width: 820px) and (device-height: 1024px) and (orientation:portrait) {
  .groom-2 {
  margin-top: 0;
}




}
@media all and (device-width: 1024px) and (device-height: 820px) and (orientation:landscape) {
  .groom-2 {
  margin-top: 0;
}

}

/*------------pic end------------*/
@media (min-width: 320px) and (max-width: 767px) { 
.letter {
  padding-left: 0;
}
.margin-100 {
  margin-top: 0;
}

.mr-profile {
  width: 120px;
  border-radius:25px;
}

.mr-date-text {
  font-size: 25px;
}

body{
  overflow-x: hidden;
}


.text-slide p {
  font-size: 10px;
}

.mr-wishes {
  height: 100%;
}

.img-100 {
  max-width: 100%;
}

.contact {
  padding: 20px;
}


.event-detail {
  margin-bottom: 50px;
}

.log-name {
  margin-top:100px;
  margin-bottom:50px;
}

.top-logo {
  padding-top: 0;
  padding-bottom: 0;
}

}

@media (max-width: 280px) {
  .mr-main-name h2 {
    font-size: 20px;
  }

  .mr-main-name {
    padding: 19px;
  }

  .mr-main-name h3 {
    font-size: 10px;
  }

  .title-letter img,.mr-footer img {
    width: 100%
  }

  .margin-100 {
  margin-top: 0;
}

.btn-float-single {
  width: 175px;
}

}


.image-container {
  height: 400px; /* Ganti dengan tinggi yang diinginkan */
  overflow: hidden;
}

/* Atur gambar agar selalu berada di tengah-tengah container */
.image-container img {
  position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; 
}

.image-container-2 {
  height: 190px; /* Ganti dengan tinggi yang diinginkan */
  overflow: hidden;
}

/* Atur gambar agar selalu berada di tengah-tengah container */
.image-container-2 img {
  position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; 
}

/*------------tablet media------------*/

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .log-name {
      margin-top:350px;
      margin-bottom:10px;
    }
    
    .top-logo {
      padding-top: 50px;
      padding-bottom: 0;
    }

}